@import '../common/styl/variables.styl'

.output-results
  &__item
    display flex
    align-items baseline
    margin-bottom $indent-2

  &__label
    flex 1
    color $color-grey-darker

  &__value
    font-size 1.1em

    &_bold
      font-weight bold

  &__show-schedule
    margin $indent-8 0
